<hr>
<p><strong>SUMMARY</strong></p>
<p>
  <strong>Description:</strong>
  <%= run_request.desrciption %>
</p>

<p>
  <strong>Message:</strong>
  <%= run_request.message %>
</p>

<hr>
<p><strong>ORIGIN</strong></p>
<p>
  <strong>Address Line1:</strong>
  <%= run_request.location_from_adress_line1 %>
</p>

<p>
  <strong>Address Line2:</strong>
  <%= run_request.location_from_adress_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= run_request.location_from_city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= run_request.location_from_postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= run_request.location_from_adress_state %>
</p>

<p>
  <strong>Country:</strong>
  <%= run_request.location_from_adress_country %>
</p>

<hr>
<p><strong>DESTINATION</strong></p>
<p>
  <strong>Address Line1:</strong>
  <%= run_request.location_to_adress_line1 %>
</p>

<p>
  <strong>Address Line2:</strong>
  <%= run_request.location_to_adress_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= run_request.location_to_city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= run_request.location_to_postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= run_request.location_to_adress_state %>
</p>

<p>
  <strong>Country:</strong>
  <%= run_request.location_to_adress_country %>
</p>

<p>
  <strong>Date to Destination:</strong>
  <%= run_request.date_to %>
</p>

<%= link_to 'Edit', edit_run_request_path(run_request) %>

