
<div class="col-md-12 no-col-padding">
  <div class="panel panel-home-registrations">
    <div class="panel-body">
      <div class="jumbotron">
        <%= name = '' %>
        <% name = @profile.first_name if @profile %>
        <h1>Hello, <%= name %> </h1>
        <p1>Here available requests based on your search criteria</p1>
        <p1>TODO: Show search criteria</p1>
        <p1>TODO: Refine search</p1>
      </div>

      <div class="row">
        <div class="col-md-4">
          <% i = 1; %>
          <div class="panel-group" id="accordion" +  role="tablist" aria-multiselectable="true" style="width: 300%;">

            <% @nearby_run_request.each do |run_request| %>
                <div class="panel panel-info">
                  <div class="panel-heading" role="tab" id="headingThree<%= i %>">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree<%= i %>" aria-expanded="false" aria-controls="collapseThree<%= i %>">
                        <span>
                          <%= run_request.desrciption %>
                        </span>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree<%= i %>">
                    <div class="panel-body">

                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#requestdetails<%= i %>" role="tab" data-toggle="tab">Run Request Details</a></li>
                        <li role="presentation"><a href="#requestordetails<%= i %>" role="tab" data-toggle="tab">Requestor Details</a></li>
                        <li role="presentation"><a href="#notifyrequestor<%= i %>" role="tab" data-toggle="tab">Offer to Run</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">

                        <div class="tab-pane active" id="requestdetails<%= i %>">
                          <%= render run_request %>
                          <div id="google-map<%= i %>" style="width: 400px; height: 200px;"></div>
                          <% hash = Gmaps4rails.build_markers(run_request) do |run_request, marker| %>
                              <% marker.lat run_request.from.latitude %>
                              <% marker.lng run_request.from.longitude %>
                              <% marker.infowindow run_request.desrciption    %>
                          <% end %>
                          <script type="text/javascript">
                              function initialize_map() {
                                  handler = Gmaps.build('Google');
                                  handler.buildMap({ provider: {}, internal: {id: 'google-map<%= i %>'}}, function(){
                                      markers = handler.addMarkers(<%=raw hash.to_json %>);
                                      handler.bounds.extendWith(markers);
                                      handler.fitMapToBounds();
                                  });
                              }
                              initialize_map();
                              $("#collapseThree<%= i %>").on('hidden.bs.collapse', function () {
                                  initialize_map();
                              });
                              $("#collapseThree<%= i %>").on('shown.bs.collapse', function () {
                                  initialize_map();
                              });
                              google.maps.event.addDomListener(window, 'resize', function() {
                              });
                          </script>
                        </div>

                        <div class="tab-pane active" id="requestordetails<%= i %>">
                          <% profile = run_request.user.profile %>
                          <%= render profile %>
                        </div>

                        <div class="tab-pane active" id="notifyrequestor<%= i %>">
                          </br>
                          <p>By clicking link below, you will be able to notify requestor that your interested on running errands for him.</p>
                          <p>Your profile details will be sent accross to the requestor.</p>
                          </br>
                          <p style="display:inline; float: left"><%= link_to 'Notify Run Requestor Now', offer_to_run_transactions_path(:runner_id => current_user, :run_request_id => run_request), method: :create %></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <% i = i + 1 %>
            <% end %>
          </div>
        </div>
      </div>

      <%= link_to 'Home', root_path %>

    </div>
  </div>
</div>
</div>
