<div class="row">
  <div class="col-xs-12 ">
    <div class="panel 0, panel-home-content">
      <div class="panel-body">
        <%= simple_form_for(@run_registration) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="row">
              <div class="col-xs-6 ">
                <div class="panel panel-success">
                  <div class="panel-heading">Summary</div>
                    <div class="panel-body">
                      <%= f.input :desciption,  label: 'Run Offer Description:' %>
                      <%= f.input :message,     label: 'Message:' %>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-xs-6 ">
                <div class="panel panel-success">
                  <div class="panel-heading">Origin</div>
                  <div class="panel-body">
                    <%= f.input :date_from %>
                    <% if @run_registration.from %>
                      <%= f.input :location_from_adress_line1,    input_html: {value: @run_registration.from.address_line1},  label: 'Address Line 1:'  %>
                      <%= f.input :location_from_adress_line2,    input_html: {value: @run_registration.from.address_line2},  label: 'Address Line 2:' %>
                      <%= f.input :location_from_city,            input_html: {value: @run_registration.from.city},           label: 'City:' %>
                      <%= f.input :location_from_postcode,        input_html: {value: @run_registration.from.postcode},       label: 'Postcode:' %>
                      <%= f.input :location_from_adress_state,    input_html: {value: @run_registration.from.state},          label: 'State:' %>
                      <%= f.input :location_from_adress_country,  :selected => @run_registration.from.country,                label: 'Country:'  %>
                    <% else %>
                      <%= f.input :location_from_adress_line1,    label: 'Address Line 1:' %>
                      <%= f.input :location_from_adress_line2,    label: 'Address Line 2:' %>
                      <%= f.input :location_from_city,            label: 'City:' %>
                      <%= f.input :location_from_postcode,        label: 'Postcode:' %>
                      <%= f.input :location_from_adress_state,    label: 'State:'  %>
                      <%= f.input :location_from_adress_country,  label: 'Country:' %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 ">
                <div class="panel panel-success">
                <div class="panel-heading">Destination</div>
                  <div class="panel-body">
                    <%= f.input :date_to %>
                    <% if @run_registration.to %>
                      <%= f.input :location_to_adress_line1,    input_html: {value: @run_registration.to.address_line1},  label: 'Address Line 1:'  %>
                      <%= f.input :location_to_adress_line2,    input_html: {value: @run_registration.to.address_line2},  label: 'Address Line 2:'  %>
                      <%= f.input :location_to_city,            input_html: {value: @run_registration.to.city},           label: 'City:' %>
                      <%= f.input :location_to_postcode,        input_html: {value: @run_registration.to.postcode},       label: 'Postcode:' %>
                      <%= f.input :location_to_adress_state,    input_html: {value: @run_registration.to.state},          label: 'State:' %>
                      <%= f.input :location_to_adress_country,  :selected => @run_registration.to.country,                label: 'Country:' %>
                    <% else %>
                        <%= f.input :location_to_adress_line1,    label: 'Address Line 1: '%>
                        <%= f.input :location_to_adress_line2,    label: 'Address Line 2: '%>
                        <%= f.input :location_to_city,            label: 'City:' %>
                        <%= f.input :location_to_postcode,        label: 'Postcode:' %>
                        <%= f.input :location_to_adress_state,    label: 'State:' %>
                        <%= f.input :location_to_adress_country,  label: 'Country:' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>