<p>
  <strong>Description:</strong>
  <%= run_registration.desciption %>
</p>

<p>
  <strong>Message:</strong>
  <%= run_registration.message %>
</p>

<p>
  <strong>Location from adress line1:</strong>
  <%= run_registration.from.address_line1 %>
</p>

<p>
  <strong>Location from adress line2:</strong>
  <%= run_registration.from.address_line2 %>
</p>

<p>
  <strong>Location from city:</strong>
  <%= run_registration.from.city %>
</p>

<p>
  <strong>Location from postcode:</strong>
  <%= run_registration.from.postcode %>
</p>

<p>
  <strong>Location from adress state:</strong>
  <%= run_registration.from.state %>
</p>

<p>
  <strong>Location from adress country:</strong>
  <%= run_registration.from.country %>
</p>

<p>
  <strong>Location to adress line1:</strong>
  <%= run_registration.to.address_line1 %>
</p>

<p>
  <strong>Location to adress line2:</strong>
  <%= run_registration.to.address_line2 %>
</p>

<p>
  <strong>Location to city:</strong>
  <%= run_registration.to.city %>
</p>

<p>
  <strong>Location to postcode:</strong>
  <%= run_registration.to.postcode %>
</p>

<p>
  <strong>Location to adress state:</strong>
  <%= run_registration.to.state %>
</p>

<p>
  <strong>Location to adress country:</strong>
  <%= run_registration.to.country %>
</p>

<p>
  <strong>Date from:</strong>
  <%= run_registration.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= run_registration.date_to %>
</p>

<%= link_to 'Edit', edit_run_registration_path(run_registration) %>

