<p id="notice"><%= notice %></p>

<p>
  <strong>Location from adress line1:</strong>
  <%= @run_registration.location_from_adress_line1 %>
</p>

<p>
  <strong>Location from adress line2:</strong>
  <%= @run_registration.location_from_adress_line2 %>
</p>

<p>
  <strong>Location from city:</strong>
  <%= @run_registration.location_from_city %>
</p>

<p>
  <strong>Location from postcode:</strong>
  <%= @run_registration.location_from_postcode %>
</p>

<p>
  <strong>Location from adress state:</strong>
  <%= @run_registration.location_from_adress_state %>
</p>

<p>
  <strong>Location from adress country:</strong>
  <%= @run_registration.location_from_adress_country %>
</p>

<p>
  <strong>Location to adress line1:</strong>
  <%= @run_registration.location_to_adress_line1 %>
</p>

<p>
  <strong>Location to adress line2:</strong>
  <%= @run_registration.location_to_adress_line2 %>
</p>

<p>
  <strong>Location to city:</strong>
  <%= @run_registration.location_to_city %>
</p>

<p>
  <strong>Location to postcode:</strong>
  <%= @run_registration.location_to_postcode %>
</p>

<p>
  <strong>Location to adress state:</strong>
  <%= @run_registration.location_to_adress_state %>
</p>

<p>
  <strong>Location to adress country:</strong>
  <%= @run_registration.location_to_adress_country %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @run_registration.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @run_registration.date_to %>
</p>

<%= link_to 'Edit', edit_run_registration_path(@run_registration) %> |
<%= link_to 'Back', run_registrations_path %>
